<div class="row">
  <table class="table-responsive" aria-describedby="Skills">
    <tbody>
      <tr>
        <th id="WebTech">
          <mdb-card class="card" (mouseover)="webCardAnimate('start')">
            <mdb-card-body>
              <mdb-card-title>
                <h4>Web Technologies</h4>
              </mdb-card-title>
              <canvas mdbChart
              [chartType]="chartType"
              [datasets]="webData"
              [labels]="webLabel"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
            </mdb-card-body>
          </mdb-card>
        </th>
        <th id="Core">
          <mdb-card class="card" [@animator]="coreCard" (mouseover)="coreCardAnimate('start')">
            <mdb-card-body>
              <mdb-card-title>
                <h4>Core Framework</h4>
              </mdb-card-title>
              <canvas mdbChart
              [chartType]="chartType"
              [datasets]="coreData"
              [labels]="coreLabel"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
            </mdb-card-body>
          </mdb-card>
        </th>
      </tr>
      <tr>
        <th id="Server-Side">
          <mdb-card class="card" [@animator]="serverCard" (mouseover)="serverCardAnimate('start')">
            <mdb-card-body>
              <mdb-card-title>
                <h4>Server-Side</h4>
              </mdb-card-title>
              <canvas mdbChart
              [chartType]="chartType"
              [datasets]="serverData"
              [labels]="serverLabel"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
            </mdb-card-body>
          </mdb-card>
        </th>
        <th id="TestingTools">
          <mdb-card class="card" [@animator]="testCard" (mouseover)="testCardAnimate('start')">
            <mdb-card-body>
              <mdb-card-title>
                <h4>Testing Tools</h4>
              </mdb-card-title>
              <canvas mdbChart 
              [chartType]="chartType"
              [datasets]="testData"
              [labels]="testLabel"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
            </mdb-card-body>
          </mdb-card>
        </th>
      </tr>
      <tr>
        <th id="DevOps">
          <mdb-card class="card" [@animator]="devCard" (mouseover)="devCardAnimate('start')">
            <mdb-card-body>
              <mdb-card-title>
                <h4>DevOps</h4>
              </mdb-card-title>
              <canvas mdbChart
              [chartType]="chartType"
              [datasets]="devData"
              [labels]="devLabel"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
            </mdb-card-body>
          </mdb-card>
        </th>
        <th id="Web&Micro">
          <mdb-card class="card" [@animator]="servicesCard" (mouseover)="servicesCardAnimate('start')">
            <mdb-card-body>
              <mdb-card-title>
                <h4>Web & Micro services</h4>
              </mdb-card-title>
              <canvas mdbChart
              [chartType]="chartType"
              [datasets]="servicesData"
              [labels]="servicesLabel"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
            </mdb-card-body>
          </mdb-card>
        </th>
      </tr>
      <tr>
        <th id="Languages">
          <mdb-card class="card" [@animator]="langCard" (mouseover)="langCardAnimate('start')">
            <mdb-card-body>
              <mdb-card-title>
                <h4>Languages</h4>
              </mdb-card-title>
              <canvas mdbChart
              [chartType]="chartType"
              [datasets]="langData"
              [labels]="langLabel"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
            </mdb-card-body>
          </mdb-card>
        </th>
      </tr>
    </tbody>
  </table>
</div>
