<div class="container my-5 py-5"
[@animator]="slideDown">
<div class="px-md-5 mx-md-5">
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="assets/images/revwork.png" alt="First slide">
        <a href="http://sufyan-fofana-portfolio.s3-website.us-east-2.amazonaws.com//work">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </a>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Work Experience</h3>
        <p>Java Full Stack Developer</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="assets/images/clinic.png" alt="Second slide">
        <a href="http://sufyan-fofana-portfolio.s3-website.us-east-2.amazonaws.com//freelance">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </a>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Freelance</h3>
        <p>Clinic Homepage</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="assets/images/project.png" alt="Third slide">
        <a href="http://sufyan-fofana-portfolio.s3-website.us-east-2.amazonaws.com//projects">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </a>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Projects</h3>
        <p>Online Bank</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="assets/images/project.png" alt="Third slide">
        <a href="http://sufyan-fofana-portfolio.s3-website.us-east-2.amazonaws.com//projects">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </a>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Technologies</h3>
        <p>Frontend, Backend, Cloud</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="assets/images/project.png" alt="Third slide">
        <a href="http://sufyan-fofana-portfolio.s3-website.us-east-2.amazonaws.com//projects">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </a>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Education</h3>
        <p>Mechanical Engineering Technology</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
</div>