<section class="main">
    <!-- Header -->
    <mdb-navbar SideClass="navbar navbar-expand-lg mdb-color lighten-1">
        <mdb-navbar-brand>
            <a href="#" class="navbar-brand"></a>
        </mdb-navbar-brand>
      </mdb-navbar>

      <div class="container panel my-5 py-5 z-depth-1">
 
 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left text-light">   
          <!--Grid row-->
          <div class="row"> 
            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0 space"> 
              <h3 class="font-weight-bold text-center">Sufyan Fofana</h3>
                <!-- <h5 class="font-weight-bold">Software Developer</h3> -->   
              <p class="text-light paragraph">I am a Software developer with experience building full-stack applications. 
                  Developed applications using various technologies such as HTML, TypeScript, Java, Spring, Hibernate, and SQL. 
                  Applications were developed using methodologies such as Agile and SCRUM to efficiently work in team 
                  environments and achieve project goals.</p>   
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0 space">
              <!--Image-->
              <div class="view display overlay z-depth-1-half">
                <img src="assets/images/pro.png" class="img-fluid"
                  alt="">             
                  <div class="mask rgba-white-light"></div>               
              </div> 
            </div>
            <!--Grid column--> 
             <!--Grid column-->
             <div class="col-md-6 mb-4 mb-md-0 space">
              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <img src="assets/images/aboutme.jpg" class="img-fluid"
                  alt="">             
                  <div class="mask rgba-white-light"></div>               
              </div> 
            </div>
            <!--Grid column--> 
            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0 space"> 
              <h3 class="font-weight-bold text-center">About Me</h3>
                <!-- <h5 class="font-weight-bold">Software Developer</h3> -->   
              <p class="text-light paragraph">I enjoy traveling, long days by the beach, the outdoors, 
                exploring and riding my dirt bike through the woods, and quality time with family. 
                I also enjoy watching sports, tinkering with mechanical and electrical components, 
                caring for my house plants, art drawing and painting.</p>   
            </div>
            <!--Grid column-->    
          </div>
          <!--Grid row--> 
        </section>
        <!--Section: Content-->   
      </div>


      <nav class="navbar navbar-expand-lg mdb-color lighten-1">

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <div class="container">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link waves-light text-light" routerLink="/home" mdbWavesEffect>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light text-light" routerLink="/work" mdbWavesEffect>Work Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light text-light" routerLink="/freelance" mdbWavesEffect>Freelance</a>
          </li>
            <li class="nav-item">
                <a class="nav-link waves-light text-light" routerLink="/projects" mdbWavesEffect>Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light text-light" routerLink="/skills" mdbWavesEffect>Technologies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light text-light" routerLink="/contact" mdbWavesEffect><mdb-icon fas icon="envelope" class="white-text"></mdb-icon></a>
        </li>
        </ul>
        </div>
      </div>
      <!-- Collapsible content -->
      
    </nav>

<!-- <div>
<mdb-navbar SideClass="navbar navbar-expand-lg mdb-color lighten-1">
  <mdb-navbar-brand>
      <a class="navbar-brand"></a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link waves-light text-light" routerLink="/home" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light text-light" routerLink="/work" mdbWavesEffect>Work Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light text-light" routerLink="/freelance" mdbWavesEffect>Freelance</a>
        </li>
          <li class="nav-item">
              <a class="nav-link waves-light text-light" routerLink="/projects" mdbWavesEffect>Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light text-light" routerLink="/skills" mdbWavesEffect>Technologies</a>
        </li>
      </ul>
  </links>
</mdb-navbar>
</div> -->



<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3">
 
    <!-- Footer Elements -->
    <div class="container1">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
            <!--Linkedin -->
            <a class="li-ic" href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--GitHub-->
            <a class="ins-ic" href="https://github.com/sfofana" target="_blank">
              <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Youtube-->
            <a class="pin-ic" href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
              <i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Email-->
            <a class="pin-ic" routerLink="/contact">
              <i class="fas fa-envelope fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center mdb-color py-3">
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</section>