<div class="row">
    <div class="column1">
<mdb-card> 
      <mdb-card-img src="assets/images/bank2-1.png" alt="Card image cap"></mdb-card-img>
    <mdb-card-body>
      <mdb-card-title>
        <h4>JS.Fofana Bank V2.1</h4>
      </mdb-card-title>
      <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
      <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="bankv21.show()"
      mdbWavesEffect>LAUNCH DEMO</button>
    </mdb-card-body>
  </mdb-card>

  <mdb-card>
    <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Gadget Tree</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="gadget.show()"
      mdbWavesEffect>LAUNCH DEMO</button>
    </mdb-card-body>
  </mdb-card>

  <mdb-card>
    <mdb-card-img src="assets/images/news.png" alt="Card image cap"></mdb-card-img>
    <mdb-card-body>
      <mdb-card-title>
        <h4>JSF News</h4>
      </mdb-card-title>
      <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
      <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="news.show()"
      mdbWavesEffect>LAUNCH DEMO</button>
    </mdb-card-body>
  </mdb-card>
</div>

<div class="column2">
    <mdb-card>
        <!--Card image-->
        <!-- <mdb-card-img src="assets/images/bank2-1.png" alt="Card image cap"></mdb-card-img> -->
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>Weather Control</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>
      
          <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="weather.show()"
            mdbWavesEffect>LAUNCH DEMO</button>
        </mdb-card-body>
      </mdb-card>

      <mdb-card>
        <mdb-card-img src="assets/images/dictionary.png" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Node-Fofana Dictionary</h4>
          </mdb-card-title>
          <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>
          <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="dictionary.show()"
            mdbWavesEffect>LAUNCH DEMO</button>
        </mdb-card-body>
      </mdb-card>

      <mdb-card>
        <!-- <mdb-card-img src="assets/images/bank2-1.png" alt="Card image cap"></mdb-card-img> -->
        <mdb-card-body>
          <mdb-card-title>
            <h4>Hospital App</h4>
          </mdb-card-title>
          <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>      
          <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="hospital.show()"
                mdbWavesEffect>LAUNCH DEMO</button>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="column3">
        <mdb-card>
            <!--Card image-->
            <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
            <!--Card content-->
            <mdb-card-body>
          
              <!--Title-->
              <mdb-card-title>
                <h4>Axion-All-Access V1.1</h4>
              </mdb-card-title>
          
              <!--Text-->
              <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
          
              <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="axion.show()"
              mdbWavesEffect>LAUNCH DEMO</button>
            </mdb-card-body>
          </mdb-card>

          <mdb-card>
            <!--Card image-->
            <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
            <!--Card content-->
            <mdb-card-body>
          
              <!--Title-->
              <mdb-card-title>
                <h4>JS.Fofana Bank V2.2</h4>
              </mdb-card-title>
          
              <!--Text-->
              <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
              <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="bankv22.show()"
              mdbWavesEffect>LAUNCH DEMO</button>
            </mdb-card-body>
          </mdb-card>

          <mdb-card> 
            <mdb-card-img src="assets/images/jagged.png" alt="Card image cap"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Jagged Edge V1.1</h4>
            </mdb-card-title>
            <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>
            <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="jagged.show()"
            mdbWavesEffect>LAUNCH DEMO</button>
          </mdb-card-body>
        </mdb-card>
        </div>
</div>

<!-- JS.Fofana Bank V2.1 Modal -->
<div mdbModal #bankv21="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://youtube.com/embed/6CXNfudatCQ" allowfullscreen></iframe>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span>Share!</span>
        <div>
           <!--Linkedin-->
           <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
           <mdb-icon fab icon="linkedin-in"></mdb-icon>
         </a>
         <!--GitHub-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://github.com/sfofana/JS.Fofana-Bank-V2.1" target="_blank">
           <mdb-icon fab icon="github"></mdb-icon>
         </a>
         <!--Youtube-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
           <mdb-icon fab icon="youtube"></mdb-icon>
         </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>
          <a href="http://jsfofana-bank-v2-1.s3-website.us-east-2.amazonaws.com" target="_blank">TRY</a>
        </button>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="bankv21.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Gadget Tree Modal -->
<div mdbModal #gadget="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/spZ6H84fEsA" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the server: 
          sufyanfofana@yahoo.com</span>
      <div>
         <!--Linkedin-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
         <mdb-icon fab icon="linkedin-in"></mdb-icon>
       </a>
       <!--GitHub-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://github.com/sfofana/JS.Fofana-Bank-V2.2" target="_blank">
         <mdb-icon fab icon="github"></mdb-icon>
       </a>
       <!--Youtube-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
         <mdb-icon fab icon="youtube"></mdb-icon>
       </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="gadget.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- JSF News Modal -->
<div mdbModal #news="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/DooUONYY4K0" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Share!</span>
      <div>
         <!--Linkedin-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
         <mdb-icon fab icon="linkedin-in"></mdb-icon>
       </a>
       <!--GitHub-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://github.com/sfofana/JSF-News" target="_blank">
         <mdb-icon fab icon="github"></mdb-icon>
       </a>
       <!--Youtube-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://www.youtube.com/watch?v=DooUONYY4K0&feature=youtu.be" target="_blank">
         <mdb-icon fab icon="youtube"></mdb-icon>
       </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>
        <a href="http://currentnewsappv1.1.s3-website.us-east-2.amazonaws.com" target="_blank">TRY</a>
      </button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="news.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Weather Control Modal -->
<div mdbModal #weather="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/spZ6H84fEsA" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
         <!--Linkedin-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
         <mdb-icon fab icon="linkedin-in"></mdb-icon>
       </a>
       <!--GitHub-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://github.com/sfofana/JS.Fofana-Bank-V2.2" target="_blank">
         <mdb-icon fab icon="github"></mdb-icon>
       </a>
       <!--Youtube-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
         <mdb-icon fab icon="youtube"></mdb-icon>
       </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="weather.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Node-Dictionary Modal -->
<div mdbModal #dictionary="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/EUMeu1krjNU" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Share!</span>
      <div>
         <!--Linkedin-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
         <mdb-icon fab icon="linkedin-in"></mdb-icon>
       </a>
       <!--GitHub-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://github.com/sfofana/Node-Fofana-Dictionary" target="_blank">
         <mdb-icon fab icon="github"></mdb-icon>
       </a>
       <!--Youtube-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://www.youtube.com/watch?v=EUMeu1krjNU" target="_blank">
         <mdb-icon fab icon="youtube"></mdb-icon>
       </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>
        <a href="http://node-fofanadictionary.s3-website.us-east-2.amazonaws.com" target="_blank">TRY</a>
      </button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="dictionary.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Hospital Modal -->
<div mdbModal #hospital="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/spZ6H84fEsA" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
         <!--Linkedin-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
         <mdb-icon fab icon="linkedin-in"></mdb-icon>
       </a>
       <!--GitHub-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://github.com/sfofana/JS.Fofana-Bank-V2.2" target="_blank">
         <mdb-icon fab icon="github"></mdb-icon>
       </a>
       <!--Youtube-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
         <mdb-icon fab icon="youtube"></mdb-icon>
       </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="hospital.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Axion-All-Access V1.1 Modal -->
<div mdbModal #axion="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/spZ6H84fEsA" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
         <!--Linkedin-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
         <mdb-icon fab icon="linkedin-in"></mdb-icon>
       </a>
       <!--GitHub-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://github.com/sfofana/JS.Fofana-Bank-V2.2" target="_blank">
         <mdb-icon fab icon="github"></mdb-icon>
       </a>
       <!--Youtube-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
         <mdb-icon fab icon="youtube"></mdb-icon>
       </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="axion.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- JS.Fofana Bank V2.2 Modal -->
<div mdbModal #bankv22="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://youtube.com/embed/spZ6H84fEsA" allowfullscreen></iframe>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span>Contact me to run an instance of the server: 
          sufyanfofana@yahoo.com</span>
        <div>
          <!--Linkedin-->
          <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
            href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
            <mdb-icon fab icon="linkedin-in"></mdb-icon>
          </a>
          <!--GitHub-->
          <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
            href="https://github.com/sfofana/JS.Fofana-Bank-V2.2" target="_blank">
            <mdb-icon fab icon="github"></mdb-icon>
          </a>
          <!--Youtube-->
          <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
            href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
            <mdb-icon fab icon="youtube"></mdb-icon>
          </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>
          <a href="http://jsfofana-bank-v2-2.s3-website.us-east-2.amazonaws.com" target="_blank">TRY</a>
        </button>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="bankv22.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Jagged Edge V1.1 -->
<div mdbModal #jagged="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://youtube.com/embed/spZ6H84fEsA" allowfullscreen></iframe>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span>Share!</span>
        <div>
           <!--Linkedin-->
           <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
           <mdb-icon fab icon="linkedin-in"></mdb-icon>
         </a>
         <!--GitHub-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://github.com/sfofana/Jagged-Edge-V1.1" target="_blank">
           <mdb-icon fab icon="github"></mdb-icon>
         </a>
         <!--Youtube-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://www.youtube.com/watch?v=spZ6H84fEsA&feature=youtu.be" target="_blank">
           <mdb-icon fab icon="youtube"></mdb-icon>
         </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="jagged.hide()">Close</button>
      </div>
    </div>
  </div>
</div>