.row{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

mdb-card{
    margin: 10%;
    background: linear-gradient(to bottom, #7283a7, #45526e);
    color: #d0d6e2;
}

mdb-card-text{
    color: #d0d6e2;
}