<div class="row">
    <div class="column1">
<mdb-card>
    <!--Card image-->
    <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>JS.Fofana Bank V2.1</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>LAUNCH DEMO</a>
    </mdb-card-body>
  </mdb-card>
  <mdb-card>
    <!--Card image-->
    <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Gadget Tree</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>LAUNCH DEMO</a>
    </mdb-card-body>
  </mdb-card>
  <mdb-card>
    <!--Card image-->
    <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>JSF News</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>LAUNCH DEMO</a>
    </mdb-card-body>
  </mdb-card>
</div>
<div class="column2">
    <mdb-card>
        <!--Card image-->
        <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>Weather Control</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>
      
          <a href="#" mdbBtn color="primary" mdbWavesEffect>LAUNCH DEMO</a>
        </mdb-card-body>
      </mdb-card>
      <mdb-card>
        <!--Card image-->
        <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>Node-Fofana Dictionary</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>
      
          <a href="#" mdbBtn color="primary" mdbWavesEffect>LAUNCH DEMO</a>
        </mdb-card-body>
      </mdb-card>
      <mdb-card>
        <!--Card image-->
        <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>Hospital App</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>
      
          <a href="#" mdbBtn color="primary" mdbWavesEffect>LAUNCH DEMO</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="column3">
        <mdb-card>
            <!--Card image-->
            <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
            <!--Card content-->
            <mdb-card-body>
          
              <!--Title-->
              <mdb-card-title>
                <h4>Axion-All-Access V1.1</h4>
              </mdb-card-title>
          
              <!--Text-->
              <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
          
              <a href="#" mdbBtn color="primary" mdbWavesEffect>LAUNCH DEMO</a>
            </mdb-card-body>
          </mdb-card>
        </div>
</div>

<!-- Web Modal -->
  <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="frameWeb.show()"
  mdbWavesEffect>LAUNCH DEMO</button>

<div mdbModal #frameWeb="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span>Share</span>
        <div>
          <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="fb" class="waves-light" mdbWavesEffect>
            <mdb-icon fab icon="facebook-f"></mdb-icon>
          </a>
          <!--Twitter-->
          <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="tw" class="waves-light" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
          <!--Google +-->
          <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="gplus" class="waves-light" mdbWavesEffect>
            <mdb-icon fab icon="google-plus"></mdb-icon>
          </a>
          <!--Linkedin-->
          <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect>
            <mdb-icon fab icon="linkedin-in"></mdb-icon>
          </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="frameWeb.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Store Modal -->
<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="store.show()"
mdbWavesEffect>LAUNCH DEMO</button>

<div mdbModal #store="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="fb" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
        <!--Twitter-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!--Google +-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="gplus" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
        <!--Linkedin-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="store.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- News Modal -->
<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="news.show()"
mdbWavesEffect>LAUNCH DEMO</button>

<div mdbModal #news="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="fb" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
        <!--Twitter-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!--Google +-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="gplus" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
        <!--Linkedin-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="news.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Weather Modal -->
<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="weather.show()"
mdbWavesEffect>LAUNCH DEMO</button>

<div mdbModal #weather="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="fb" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
        <!--Twitter-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!--Google +-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="gplus" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
        <!--Linkedin-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="weather.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Dictionary Modal -->
<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="dictionary.show()"
mdbWavesEffect>LAUNCH DEMO</button>

<div mdbModal #dictionary="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="fb" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
        <!--Twitter-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!--Google +-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="gplus" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
        <!--Linkedin-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="dictionary.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Hospital Modal -->
<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="hospital.show()"
mdbWavesEffect>LAUNCH DEMO</button>

<div mdbModal #hospital="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="fb" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
        <!--Twitter-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!--Google +-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="gplus" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
        <!--Linkedin-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="hospital.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Axion-All-Access Modal -->
<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="axion.show()"
mdbWavesEffect>LAUNCH DEMO</button>

<div mdbModal #axion="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="fb" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
        <!--Twitter-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!--Google +-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="gplus" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
        <!--Linkedin-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="axion.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Bank2 Modal -->
<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="bank2.show()"
mdbWavesEffect>LAUNCH DEMO</button>

<div mdbModal #bank2="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="fb" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
        <!--Twitter-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!--Google +-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="gplus" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
        <!--Linkedin-->
        <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="bank2.hide()">Close</button>
    </div>
  </div>
</div>
</div>

