/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(to bottom, #3b465e , #1c2a48);
}

div{
    font-family: 'Exo', sans-serif;
}

section{
    font-family: 'Exo', sans-serif;
}