<div class="container panel my-5 py-5 z-depth-1">
  <section class="px-md-5 mx-md-5 text-center text-lg-left text-light">   
    <div class="row"> 
      <div class="col-md-6 mb-4 mb-md-0" [@animator]="leadRight"> 
          <div class="view overlay z-depth-1-half">
              <img src="assets/images/freddie.png" alt="" class="img-fluid">
              <a href="https://revature.com" target="_blank" rel="noopener noreferrer">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>         
      </div>
      <div class="col-md-6 mb-4 mb-md-0" [@animator]="followRight">         
        <h3 class="font-weight-bold">Mar. 2020 - Current</h3>
        <p class="text-light">Designed UI using Angular 8, Angular Material API, CSS, HTML, and TypeScript. 
          Implemented Front Controller Design which received HTTP requests using Angular's HTTP Client. 
          Performed CRUD operations with JPA Repository and JDBC to persist data to AWS RDS. CI/CD using 
          Jenkins Pipeline through Git Hub. Utilized AWS S3 and EC2 to host a static web pages and Spring 
          Boot Projects. Utilized Asana for team management of Scrum scheduling.</p>  
      </div>  
    </div>
  </section>  
</div>

<div class="container panel my-5 py-5 z-depth-1">
    <section class="px-md-5 mx-md-5 text-center text-lg-left text-light">   
      <div class="row"> 
        <div class="col-md-6 mb-4 mb-md-0" [@animator]="leadRight"> 
            <div class="view overlay z-depth-1-half">
                <img src="assets/images/revlogo.png" alt="" class="img-fluid">
                <a href="https://revature.com" target="_blank" rel="noopener noreferrer">
                  <div class="mask rgba-white-light"></div>
                </a>
              </div>         
        </div>
        <div class="col-md-6 mb-4 mb-md-0" [@animator]="followRight">         
          <h3 class="font-weight-bold">Dec. 2019 - Current</h3>
          <p class="text-light">Designed UI using Angular 8, Angular Material API, CSS, HTML, and TypeScript. 
            Implemented Front Controller Design which received HTTP requests using Angular's HTTP Client. 
            Performed CRUD operations with JPA Repository and JDBC to persist data to AWS RDS. CI/CD using 
            Jenkins Pipeline through Git Hub. Utilized AWS S3 and EC2 to host a static web pages and Spring 
            Boot Projects. Utilized Asana for team management of Scrum scheduling.</p>  
        </div>  
      </div>
    </section>  
  </div>