<div class="container panel my-5 py-5 z-depth-1">
    <section class="px-md-5 mx-md-5 text-center text-lg-left text-light">   
      <div class="row"> 
        <div class="col-md-6 mb-4 mb-md-0"> 
            <div class="view overlay z-depth-1-half">
                <img src="assets/images/revlogo.png" class="img-fluid">
                <a href="https://revature.com" target="_blank">
                  <div class="mask rgba-white-light"></div>
                </a>
              </div>         
        </div>
        <div class="col-md-6 mb-4 mb-md-0">         
          <h3 class="font-weight-bold">Sufyan Fofana</h3>
            <!-- <h5 class="font-weight-bold">Software Developer</h3> -->   
          <p class="text-light">I am a Software developer with experience building full-stack applications. 
              Developed applications using various technologies such as HTML, TypeScript, Java, Hibernate, and SQL. 
              Applications were developed using methodologies such as Agile and SCRUM to efficiently work in team 
              environments and achieve project goals.</p>  
        </div>  
      </div>
    </section>  
  </div>