<div class="row">
    <div class="column">
<mdb-card [@animator]="animateFlip"> 
      <mdb-card-img src="assets/images/bank2-1.png" alt="Card image cap"></mdb-card-img>
    <mdb-card-body>
      <mdb-card-title>
        <h4>JS.Fofana Bank V2.1</h4>
      </mdb-card-title>
      <mdb-card-text class="text-light">Online Banking app with features such as signin, deposit, withdraw, transferfunds, etc. 
        Technologies used: Angular, Material Design Bootstrap, HTML, CSS, NodeJS, Express, MongoDB, AWS S3, Heroku.
      </mdb-card-text>
      <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="bankv21.show()"
      mdbWavesEffect
      [@animator]="animationState" (@animator.done)="resetAnimation()" 
      (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">LAUNCH DEMO</button>
    </mdb-card-body>
  </mdb-card>

  <mdb-card [@animator]="animateFlip">
    <mdb-card-img src="assets/images/news.png" alt="Card image cap"></mdb-card-img>
    <mdb-card-body>
      <mdb-card-title>
        <h4>JSF News</h4>
      </mdb-card-title>
      <mdb-card-text class="text-light">News app which allows user to toggle through current news as well as filter specific news channels. 
        Technologies used: Angular, Angular Material, HTML, CSS, AWS S3, NewsAPI.
      </mdb-card-text>
      <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="news.show()"
      mdbWavesEffect
      [@animator]="animationState" (@animator.done)="resetAnimation()" 
      (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">LAUNCH DEMO</button>
    </mdb-card-body>
  </mdb-card>

  <mdb-card [@animator]="animateFlip"> 
    <mdb-card-img src="assets/images/jhealth.png" alt="Card image cap"></mdb-card-img>
  <mdb-card-body>
    <mdb-card-title>
      <h4>JS.Fofana Health</h4>
    </mdb-card-title>
    <mdb-card-text class="text-light">Insurace record browser with features such as sign in and searching for an individuals record current status. 
      Technologies used: Angular, Material Design Bootstrap, HTML, CSS, Google Firebase, AWS S3.
    </mdb-card-text>
    <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="health.show()"
    mdbWavesEffect
    [@animator]="animationState" (@animator.done)="resetAnimation()" 
    (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">LAUNCH DEMO</button>
  </mdb-card-body>
</mdb-card>
</div>

<div class="column">
    <!-- <mdb-card>
    
        <mdb-card-img src="assets/images/bank2-1.png" alt="Card image cap"></mdb-card-img>
        
        <mdb-card-body>

          <mdb-card-title>
            <h4>Weather Control</h4>
          </mdb-card-title>

          <mdb-card-text class="text-light">Weather app which allows user to search for desired location to diplay current weather conditions. 
            Technologies used: Angular, Material Design Bootstrap, HTML, CSS, NodeJS, Express, AWS S3, Google API, DarkSky API, Heroku. 
          </mdb-card-text>
      
          <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="weather.show()"
            mdbWavesEffect>LAUNCH DEMO</button>
        </mdb-card-body>
      </mdb-card> -->

      <mdb-card [@animator]="animateFlip">
        <mdb-card-img src="assets/images/dictionary.png" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Node-Fofana Dictionary</h4>
          </mdb-card-title>
          <mdb-card-text class="text-light">Dictionary app which allows user to search for word and display definition while caching results. 
            Technologies used: Angular, Material Design Bootstrap, HTML, CSS, AWS S3, Marriam-Webster Dictionary API.
          </mdb-card-text>
          <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="dictionary.show()"
            mdbWavesEffect
            [@animator]="animationState" (@animator.done)="resetAnimation()" 
            (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">LAUNCH DEMO</button>
        </mdb-card-body>
      </mdb-card>

      <!-- <mdb-card>
        <mdb-card-img src="assets/images/bank2-1.png" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Hospital App</h4>
          </mdb-card-title>
          <mdb-card-text class="text-light"> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>      
          <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="hospital.show()"
                mdbWavesEffect>LAUNCH DEMO</button>
        </mdb-card-body>
      </mdb-card> -->

      <mdb-card [@animator]="animateFlip"> 
        <mdb-card-img src="assets/images/bank2-1.png" alt="Card image cap"></mdb-card-img>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Poly-Personal Advisor</h4>
        </mdb-card-title>
        <mdb-card-text class="text-light">Personal Advisor app allows user to log reoccuring events and displays them graphically. 
          Technologies used: Angular, Material Design Bootstrap, HTML, CSS, Google Firebase, AWS S3.
        </mdb-card-text>
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="poly.show()"
        mdbWavesEffect
        [@animator]="animationState" (@animator.done)="resetAnimation()" 
        (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">LAUNCH DEMO</button>
      </mdb-card-body>
    </mdb-card>
    </div>

    <div class="column">
        <mdb-card [@animator]="animateFlip">
            <mdb-card-img src="assets/images/a3.png" alt="Card image cap"></mdb-card-img>
            <mdb-card-body>
          
              <!--Title-->
              <mdb-card-title>
                <h4>Axion-All-Access V1.1</h4>
              </mdb-card-title>
          
              <!--Text-->
              <mdb-card-text class="text-light">Superhero App designed to maintain a fictional database of 
                superheroes and villains. Technologies used: Angular, Bootstrap, HTML, CSS, Java, Spring Framework, 
                Spring H2, Heroku.
              </mdb-card-text>
          
              <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="axion.show()"
              mdbWavesEffect
              [@animator]="animationState" (@animator.done)="resetAnimation()" 
              (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">LAUNCH DEMO</button>
            </mdb-card-body>
          </mdb-card>

          <mdb-card [@animator]="animateFlip"> 
            <mdb-card-img src="assets/images/jagged.png" alt="Card image cap"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Jagged Edge V1.1</h4>
            </mdb-card-title>
            <mdb-card-text class="text-light">First person knife throwing game. Enless runner style with 
              levels, secrete items, and a leaderboard. Powered by Unity.
            </mdb-card-text>
            <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="jagged.show()"
            mdbWavesEffect
            [@animator]="animationState" (@animator.done)="resetAnimation()" 
            (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">LAUNCH DEMO</button>
          </mdb-card-body>
        </mdb-card>
        </div>
</div>


<!-- JS.Fofana Bank V2.1 Modal -->
<div mdbModal #bankv21="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://youtube.com/embed/6CXNfudatCQ" allowfullscreen></iframe>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span>Share!</span>
        <div>
           <!--Linkedin-->
           <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
           <mdb-icon fab icon="linkedin-in"></mdb-icon>
         </a>
         <!--GitHub-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://github.com/sfofana/JS.Fofana-Bank-V2.1" target="_blank">
           <mdb-icon fab icon="github"></mdb-icon>
         </a>
         <!--Youtube-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
           <mdb-icon fab icon="youtube"></mdb-icon>
         </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect
          [@animator]="animationState" (@animator.done)="resetAnimation()" 
          (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">
          <a href="http://jsfofana-bank-v2-1.s3-website.us-east-2.amazonaws.com" target="_blank">TRY</a>
        </button>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="bankv21.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- JSF News Modal -->
<div mdbModal #news="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/DooUONYY4K0" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Share!</span>
      <div>
         <!--Linkedin-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
         <mdb-icon fab icon="linkedin-in"></mdb-icon>
       </a>
       <!--GitHub-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://github.com/sfofana/JSF-News" target="_blank">
         <mdb-icon fab icon="github"></mdb-icon>
       </a>
       <!--Youtube-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://www.youtube.com/watch?v=DooUONYY4K0&feature=youtu.be" target="_blank">
         <mdb-icon fab icon="youtube"></mdb-icon>
       </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect
        [@animator]="animationState" (@animator.done)="resetAnimation()" 
        (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">
        <a href="http://currentnewsappv1.1.s3-website.us-east-2.amazonaws.com" target="_blank">TRY</a>
      </button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="news.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Weather Control Modal -->
<div mdbModal #weather="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/spZ6H84fEsA" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
         <!--Linkedin-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
         <mdb-icon fab icon="linkedin-in"></mdb-icon>
       </a>
       <!--GitHub-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://github.com/sfofana/JS.Fofana-Bank-V2.2" target="_blank">
         <mdb-icon fab icon="github"></mdb-icon>
       </a>
       <!--Youtube-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
         <mdb-icon fab icon="youtube"></mdb-icon>
       </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect
        [@animator]="animationState" (@animator.done)="resetAnimation()" 
        (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="weather.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Node-Dictionary Modal -->
<div mdbModal #dictionary="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/EUMeu1krjNU" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Share!</span>
      <div>
         <!--Linkedin-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
         <mdb-icon fab icon="linkedin-in"></mdb-icon>
       </a>
       <!--GitHub-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://github.com/sfofana/Node-Fofana-Dictionary" target="_blank">
         <mdb-icon fab icon="github"></mdb-icon>
       </a>
       <!--Youtube-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://www.youtube.com/watch?v=EUMeu1krjNU" target="_blank">
         <mdb-icon fab icon="youtube"></mdb-icon>
       </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect
        [@animator]="animationState" (@animator.done)="resetAnimation()" 
        (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">
        <a href="http://node-fofanadictionary.s3-website.us-east-2.amazonaws.com" target="_blank">TRY</a>
      </button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="dictionary.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Hospital Modal -->
<div mdbModal #hospital="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/spZ6H84fEsA" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Contact me to run an instance of the backend: 
          sufyanfofana@yahoo.com</span>
      <div>
         <!--Linkedin-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
         <mdb-icon fab icon="linkedin-in"></mdb-icon>
       </a>
       <!--GitHub-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://github.com/sfofana/JS.Fofana-Bank-V2.2" target="_blank">
         <mdb-icon fab icon="github"></mdb-icon>
       </a>
       <!--Youtube-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
         <mdb-icon fab icon="youtube"></mdb-icon>
       </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect>TRY</button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="hospital.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Axion-All-Access V1.1 Modal -->
<div mdbModal #axion="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body mb-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/twTD0J4xmFo" allowfullscreen></iframe>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span>Share!</span>
      <div>
         <!--Linkedin-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
         <mdb-icon fab icon="linkedin-in"></mdb-icon>
       </a>
       <!--GitHub-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://github.com/sfofana/JS.Fofana-Bank-V2.2" target="_blank">
         <mdb-icon fab icon="github"></mdb-icon>
       </a>
       <!--Youtube-->
       <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
         href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
         <mdb-icon fab icon="youtube"></mdb-icon>
       </a>
      </div>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect
        [@animator]="animationState" (@animator.done)="resetAnimation()" 
        (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">
        <a href="https://axion-all-access-v1.herokuapp.com/" target="_blank">TRY</a>
      </button>
      <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
        (click)="axion.hide()">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Jagged Edge V1.1 -->
<div mdbModal #jagged="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://youtube.com/embed/x78v4qRCRbE" allowfullscreen></iframe>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span>Share!</span>
        <div>
           <!--Linkedin-->
           <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
           <mdb-icon fab icon="linkedin-in"></mdb-icon>
         </a>
         <!--GitHub-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://github.com/sfofana/Jagged-Edge-V1.1" target="_blank">
           <mdb-icon fab icon="github"></mdb-icon>
         </a>
         <!--Youtube-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
           <mdb-icon fab icon="youtube"></mdb-icon>
         </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="jagged.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- JS.Fofana Health -->
<div mdbModal #health="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://youtube.com/embed/xICgc1elnJo" allowfullscreen></iframe>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span>Share!</span>
        <div>
           <!--Linkedin-->
           <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
           <mdb-icon fab icon="linkedin-in"></mdb-icon>
         </a>
         <!--GitHub-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://github.com/sfofana/JS.Fofana-Health" target="_blank">
           <mdb-icon fab icon="github"></mdb-icon>
         </a>
         <!--Youtube-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://www.youtube.com/watch?v=spZ6H84fEsA&feature=youtu.be" target="_blank">
           <mdb-icon fab icon="youtube"></mdb-icon>
         </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect
          [@animator]="animationState" (@animator.done)="resetAnimation()" 
          (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">
          <a href="http://jsfofana-health.s3-website.us-east-2.amazonaws.com" target="_blank">TRY</a>
        </button>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="health.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Poly-Personl Advisor -->
<div mdbModal #poly="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://youtube.com/embed/spZ6H84fEsA" allowfullscreen></iframe>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span>Share!</span>
        <div>
           <!--Linkedin-->
           <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
           <mdb-icon fab icon="linkedin-in"></mdb-icon>
         </a>
         <!--GitHub-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://github.com/sfofana/JS.Fofana-Health" target="_blank">
           <mdb-icon fab icon="github"></mdb-icon>
         </a>
         <!--Youtube-->
         <a type="button" mdbBtn floating="true" size="sm" mdbBtn color="ins" class="waves-light" mdbWavesEffect
           href="https://www.youtube.com/watch?v=spZ6H84fEsA&feature=youtu.be" target="_blank">
           <mdb-icon fab icon="youtube"></mdb-icon>
         </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect
          [@animator]="animationState" (@animator.done)="resetAnimation()" 
          (click)="startAnimation('pulse')" (mouseover)="startAnimation('heartBeat')">
          <a href="http://poly-personal-advisor.s3-website.us-east-2.amazonaws.com" target="_blank">TRY</a>
        </button>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="poly.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

